@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  width: 100% !important;
  overflow-x: hidden !important;
}

html{
  scroll-behavior: smooth !important;
}

